<div class="container-fluid">
  <div class="heroeSec col-xs-6">
    <%=link_to image_tag("batmanback.jpg"), pages_batman_path , class: "img-responsive fullfit" %>
  </div>
  <div class="heroeSec col-xs-6">
    <%= link_to image_tag("supermanback.jpg"), pages_superman_path , class: "img-responsive fullfit" %>
  </div>
</div>
