<div class="container">
  <%= link_to "Page 1", experiment_page1_path, class: "btn btn-default" %>
  <%= link_to "Page 2", experiment_page2_path, class: "btn btn-default" %>
  <%= link_to "Page 3", experiment_page3_path, class: "btn btn-default" %>
</div>
